<%- include('./partials/header.ejs') %>
<title>神奇的海蛎仔个人博客</title>
<link rel="stylesheet" href="/javascripts/layui/css/layui.css">
<link rel="stylesheet" href="/stylesheets/wordDetail.css">
</head>

<body>
	<%- include("./partials/nav.ejs",{currentUrl:'/word'}) %>
	<div class="main">
		<div class="main-location clearfix">
			<span>当前位置：</span>
			<a href="/">主页</a>>
			<a href="javascript:history.go(-1)">留言板</a>>
			<span>留言板详情</span>
		</div>
		<div class="detail">
			<div name="liContent">
				<h2><%= data.createTime %></h2>
				<p><%- data.content %></p>
			</div>
			<div class="bottom clearfix">
				<h3 class="fl">来自: <%= data.from %></h3>
				<h4 onclick="thumbUp(this,'<%= data._id %>')">
					<i class="fa fa-thumbs-up" aria-hidden="true"></i>
					<span>（<%= data.thumbUp %>）</span>
				</h4>
			</div>
		</div>
		<form class="layui-form" action="" lay-filter="example">
			<div class="layui-form-item layui-form-text">
				<textarea id="msg" placeholder="大侠评论一个再走≥Ö‿Ö≤" class="layui-textarea"></textarea>
			</div>
			<div class="layui-form-item">
				<button type="button" class="layui-btn fr" lay-submit="" lay-filter="demo1" id="leaveMsg">
					回复
				</button>
				<!-- <button type="button" class="layui-btn layui-btn-primary fr" id="btn-clear">清空</button> -->
			</div>
		</form>
		<div class="site-text site-block" id="msgList">
			<% for(let i=data.commentList.length-1;i>=0;i--){ %>
				<blockquote class="layui-elem-quote">
					<%= moment(data.commentList[i].commentTime).format("YYYY-MM-DD HH:mm:ss") %>：<%= data.commentList[i].content %>
				</blockquote>
			<% } %>
			<!-- <blockquote class="layui-elem-quote">2020-04-21 21:2:45：hahah </blockquote> -->
		</div>
	</div>
	<%- include("./partials/footer.ejs") %>
	<script src="/javascripts/layui/layui.js"></script>
	<script src="/public/javascripts/pages/word-detail.js"></script>

</body>

</html>